<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 {% if perfil %}

 
<div class="container text-center mt-3" >
   
      
    <img src="{{perfil.avatar.url}}" class="img-fluid" style="width: 40%;">
    
    
    
    <p class="mt-3">
                <strong>Tipo de documento de identidad: </strong><span>{{perfil.tipodocumento}}</span><br />
                <strong>Identificación: </strong><span>{{perfil.documento}}</span><br />
                <strong>Nombre:  </strong><span>{{perfil.nombre}}</span><br />
                <strong>Apellido:  </strong><span>{{perfil.apellido}}</span><br />
                <strong>Telefono:  </strong><span>{{perfil.telefono}}</span><br>
                <strong>Correo Electronico:  </strong><span>{{perfil.correo}}</span><br />
                <strong>Dirección:  </strong><span>{{perfil.direccion}}</span><br />
                <strong>Estado Civil:  </strong><span>{{perfil.estasdocivil}}</span><br />
                <strong>Genero:  </strong><span>{{perfil.genero}}</span><br />

                <a href="{% url 'profile' %}"><button class="btn btn-success btn-block mt-5">Editar</button></a>
               
               

            </p>


</div>

 
    {% else %}

        <h1>No existen perfiles registrados</h1>
    
    {% endif %}
</body>
</html>
