{% extends 'autenticacion/base.html' %} {% block title %}Recover{% endblock %} {% block content %} {% load static %}



<div class="dialog dialog-effect-in">
    <div class="dialog-front">
        <div class="dialog-content">
            <form id="recu_form" class="dialog-form" action="" method="POST" onSubmit="isValidate();">
                <fieldset>
                    <legend class="text-center">Recuperar Contraseña</legend>
                    <div class="form-group">
                        <label for="user_email" class="control-label">Correo Electrónico:</label>
                        <input type="text" id="user_email" class="form-control" name="user_email" autofocus/>
                    </div>
                    <div class="pad-top-20 pad-btm-20">
                        <a href="#"><input type="submit" class="btn btn-default btn-block btn-lg" value="Continue"></a>
                    </div>
                    <div class="text-center">
                        <p><a href="{% url 'login' %}" class="link user-actions"><strong>Regresar</strong></a></p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    {% endblock %}